#name{
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

  #email{
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

  #message{
    width: 20%;
    height: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }