body{
  background-color: aqua;
}
#body{
  background-color: red;
  width: 100%;
  
}
#name{
    width: 250px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

  #email{
    width: 250px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

  #message{
    width: 250px;
    height: 20%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
  }
  #button{
    width: 200px;
    height: 50px;
    border-radius: 20px;
  }
  #form{
    width: 250px;
	  height: 400px;
	  background-color: red;
	
	  position: relative;
	  
	  margin: auto;
  }