<!DOCTYPE html>
<link rel="Stylesheet" type="text/css" href="../css/header.css">
<div id="header">
    <h2 id="head">
        <a id="cv" href="index.html" style="color: black;">CV Raman Global University...</a>
        <a id="link" href="index.html" style="color:black">Home</a>
        <a id="link" href="../gallery/gallery.html" style="color:black">Gallery</a>
        <a id="link" href="../contact/contact.html" style="color:black">Contact Us</a>
        <a id="link" href="../login/login.html" style="color:black">Login</a>
    </h2>
</div>